* {
  box-sizing: border-box;
}
html {
  --zoomfactor: 16;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  user-select: none;
  font-size: 1.33em;
  background: url(../assets/noise.png), radial-gradient(circle, #111 1rem, #000 30rem);
  background-attachment: fixed;
  &.loading {
    cursor: wait;
  }
}

.offscreen {
  position: fixed;
  background-color: hotpink;
  top: 0;
  height: 100%;
  bottom: 0;
  z-index: -1;
  & iframe {
    width: 100%;
    height: 100%
  }
}


#gamecamera {
  width: 1920px;
  height: 960px;
  position: fixed;
  inset: 50%;
  translate: -50% -50%;
  overflow: hidden;
  z-index: 1;
  will-change: scroll-position;
  /* cursor: none; */
}

.map {
  position: absolute;
  background-image: url('../assets/noise.png');
  background-color: rgba(38, 91, 38, 0.886);
  will-change: transform;
  pointer-events: none;
  transform-origin: var(--trans-origin);
  translate: var(--translate);
  transform-style: preserve-3d;
  perspective: 500px;
  perspective-origin: var(--trans-origin);

  &.camera-zoom {
    scale: calc(1 - calc(var(--speed) * 1.1));
  }
}

.fakeportal {
  position: absolute;
  width: 830px;
  height: 100px;
  /*! translate: 20016px 6081px; */
  left: 19726px;
  top: 6001px;
  
  border: 3px solid #000;
  border-radius: 5px;
  transform-origin: bottom left;  
  transform: perspective(3200px) rotateZ(51deg) rotateX(270deg);
  border-bottom-color: transparent;
  z-index: 1;
  
  background-image: url('/assets/advertising/honkin.svg'), linear-gradient(white 50px, transparent 50px);
  background-repeat: repeat-x;
  background-position: 0 6px, 0 0;
  background-size: 205px 38px, 100px;
  transform-style: preserve-3d;
  /*! box-shadow: inset 0 0 0 5px black; */
}

.fakeportal:after {
  content: '';
  position: absolute;
  inset: 0;
  border: inherit;
  transform: translateZ(-50px) translateY(0);
  border-radius: inherit;
  top: 0;
  left: 0;
  /*! box-shadow: inherit; */
}

.fakeportal:before {
  content: '';
  border: none;
  position: absolute;
  width: 100%;
  height: 50px;
  top: -14px;
  left: 0;
  transform: rotateX(-90deg) translateY(50px) translateZ(-10px);
  box-shadow: inset 0 0 0 3px black;
  background-image: ;
  background-size: 60px;
  background-repeat: repeat;
  background-color: #ffff0033;
  transform-origin: bottom right;
  background-position: ;
}

.layer {
  position: absolute;
  pointer-events: none;
}

.track::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/noise.png');
  opacity: .25;
  mix-blend-mode: overlay;

}

.players {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  filter: drop-shadow(5px 5px 2px #0006);
  
  & .car-body {
    scale: .8;
    width: 640px;
    height: 440px; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
    translate: -50% -50%;
    rotate: var(--angle, 0);

    &.ferrari {
      --bg: white;
      --color:rgb(255, 30, 0);
      --right: 49%;
      --min-width: 1.8rem;
      --border-radius: 100%;
    }
    
    &.lamborghini {
      --bg: rgb(234, 175, 26);
    }

    &.porsche {
      --bg: white;
    }

    & .driver-id {
      display: block;
      position: absolute;
      transform-origin: center;
      top: var(--top, 50%);
      right: var(--right, 34%);
      
      translate: 0 -54%;
      rotate: -90deg;
      
      text-align: center;
      color: var(--color, black);
      font-weight: 500;
      box-shadow: inset 0 0 0 2px;
      background-color:var(--bg, white);
      border-radius: var(--border-radius, 13%);
      font-size: 0.8em;
      padding: 0.4ex;
      min-width: var(--min-width, 1.4em);
    }

    & .livery {
      
      /* the filter messes up position. without it, the 
          next lines wouldn't be necessary
      */
      position: relative;
      height: 120px;
      width: 230px;

    }

    & .lights {
      filter: blur(10px);
      mix-blend-mode: plus-lighter;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: unset;
      height: unset;
    }

    & .brakes {
      transition: opacity .5s linear;
    }

    &.flashing .headlights {
      animation: flashing .25s .05s linear forwards;
      animation-iteration-count: 3;
      transition-duration: .1s;
    }

    &.braking .brakes {
      opacity: .7;
      transition-duration: .1s;
    }

    .horn {
      display: none;
    }
  }
}

.layer.lights {
  mix-blend-mode: multiply;
  opacity: 0;
  animation: flashing 240s linear infinite forwards;
  background-color: #1119;
  z-index: 10;
  
  & > img[data-layer="lights"] {
    filter: blur(50px);
  }

  & > .car-lights {
    position: absolute;
    left: -320px;
    top: -220px;
    width: 640px;
    height: 440px;
    scale: .8;
    rotate: var(--angle, 0);
    translate: var(--trans-origin);
    

    & img {
      position: absolute;
      
      &.headlights {
        scale: 2.5 1;
        transform: perspective(200px) rotateY(-50deg) translateX(-50px);
      }

      &.brakes {
        opacity: .5;
      }
    }
  }
}

div.car-body {
  img {
    width: 100%;
    height: 100%;
  }
  
}

@keyframes flashing {
  
  25% {opacity: .66;}
  48% { opacity: 1;}
  53% { opacity: 1;}
  75% { opacity: .66;}
  to { opacity: 0;}
}

.layer.elevated {
  filter: drop-shadow(30px 30px 10px #0006);
  scale: 1.05;
  transform-origin: var(--trans-origin);
  z-index: 12;
  &:after {
    content :'';
    background: inherit;
    background-position-y: 0px;
    position: absolute;
    inset: 0;
    transform-origin: var(--trans-origin);
    z-index: 1;
    scale: 1.01;
    filter: brightness(75%);
    animation: darkness 240s linear infinite forwards;
  }
}

@keyframes darkness {
  
  25% {filter: brightness(.9);}
  48% { filter: brightness(.6);}
  53% { filter: brightness(.2);}
  75% { filter: brightness(.5);}
  to { filter: brightness(.9);}
}

#map.clouds {
  & .weather {
    opacity: .25;
    filter: blur(16px);
    width: 100%;
    height: 100%;
    background-image: url('../assets/environment/fair_clouds_4k.png');
    background-size: cover;
    scale: 2;
    transform-origin: var(--trans-origin);
  }
  
  &.wind .weather {
    animation: clouds 600s linear;
  }
}

@keyframes clouds {
  to {
    background-position: 100% calc(2048px * 4);
  }
}

#waypointsOverlay {
  display: none;

  & b {
    --color: rgb(234, 175, 26);
    position: absolute;
    font-size: calc( calc(var(--size, 64px) * 1px) / 2);
    scale: 2;
    translate: -50% -50%;
    color: var(--color);
    display: block;
    width: calc( calc(var(--size, 64px) * 1px));
    height: calc( calc(var(--size, 64px) * 1px));
    line-height: calc( calc(var(--size, 64px) * 1px));
    text-align: center;
    border-radius: 50%;
    border: calc(calc( calc(var(--size, 64px) * 1px)) / 32) dashed currentColor;
    transition: all .5s .1s;
    &.hit {
      
      --color: #4CAF50;
      scale: 1.25;
      opacity: .05;
      background-color: transparent;
      color: var(--color);
    }
    &.pitbox {
      color: rgb(255, 30, 0);
    }
    &.pitlane {
      --color: white;
    }

    &:hover,
    &.colliding {
      scale: 3;
      opacity: .75;
      background-color: var(--color);
      color: black;
      transition-duration: .05s;
      transition-delay: 0s;
    }
  }
}

#map.waypoints #waypointsOverlay {
  display: block;
}

.waypointer {
  position: absolute;
  left: calc( var(--x) * 1px );
  top: calc( var(--y) * 1px );
  rotate: calc( var(--rot, 0) * 1deg );
  width: 320px;
  height: 320px;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: color .2s;
  opacity: .5;

  & span.material-icons {
    font-size: 1.8rem;
  }
  &.racetrack, &.garagebox {
    color: rgb(234, 175, 26);
  }
  &.pitbox {
    color:rgb(255, 30, 0);
  }
}

.emitter-object {
  position: absolute;
  display: block;
  left: var(--left);
  top: var(--top);
  transform-origin: left top;
  rotate: var(--rot, 0deg);
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  overflow: hidden;

  --step: 0;
  --row: 0;
  --spriteSize: 128px;
  --pos-y: calc(var(--row, 0) * var(--spriteHeight, 128px ) * -1px);
  --pos-x: calc(var(--step, 0) * var(--spriteWidth, 128px ) * -1px);
  
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--pos-x) var(--pos-y);
  }
}

.helicopter {
  scale: .5;
  position: relative;
  filter: drop-shadow(450px 450px 9px #0006);
  width: 902px;
  height: 400px;
  left: calc(var(--x) * 1px) !important;
  top: calc(var(--y) * 1px) !important;
  rotate: calc(var(--rot) * 1deg - 180deg); /* sprite is rotated wrong way around lol */
  
  & img {
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.helicopter-body { 
  translate: 0 -50%;
}

.helicopter-blades {
  filter: blur(2px);
  transform-origin: 234.5px 387.5px;
  --duration: .27s;
  translate: 0 -50%;
  transform: animation-duration 1.5s;
  animation: rotors var(--duration) linear forwards infinite;
}

@keyframes rotors {
  to {
    rotate: 359deg;
  }
}