html {
  --zoomfactor: 16;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  user-select: none;

  &.loading {
    cursor: wait;
  }
}

header { 
  color: white;
  position: sticky;
  
  backdrop-filter: blur(3px);
  z-index: 100;
  padding: 2rem;
  z-index: 2;
  box-shadow: 0 0 2px #00000052;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;

  label {
    display: flex;
    flex-flow: row;
    gap: 1ex;
  }
}

.offscreen {
  position: fixed;
  background-color: hotpink;
  top: 0;
  height: 100%;
  bottom: 0;
  z-index: -1;
  & iframe {
    width: 100%;
    height: 100%
  }
}


#camera {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
}

.map {
  position: absolute;
  background-image: url('assets/noise.png');
  background-color: rgba(38, 91, 38, 0.886);
}

.layer {
  position: absolute;
  pointer-events: none;
}

.player {
  position: fixed;
  width: 100%;
  height: 100%;
  transform-origin: center;
  
  filter: drop-shadow(5px 5px 2px #0006);
  
  & .car-body {
    scale: .8;
    width: 230px;
    height: 120px;
    left: 50%;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    rotate: var(--angle, 0);
  
    &::after {
      content: attr(data-velocity);
      rotate: calc(var(--angle) * -1);
      position: fixed;
      left: -50px;
      top: 50%;
      background: #0000004d;
      padding: 1ex 1em;
      border-radius: .5ex;
      color: white;
      translate: 0 -50%;
    }
  
    .horn {
      rotate: calc(var(--angle) * -1);
      width: 100px;
    }
    
      & .livery {
        
        /* the filter messes up position. without it, the 
           next lines wouldn't be necessary
        */
        position: relative;
        height: 120px;
        width: 230px;

      }

      & .lights {
        filter: blur(10px);
        opacity: .75;
        mix-blend-mode: plus-lighter;
        
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-210px, -155px);
      }

      & .brakes {
        opacity: 0;
        transition: opacity .5s linear;
      }

    }
    &.braking .brakes {
      opacity: 1;
      transition-duration: .1s;
    }
  
}

.elevated {
  filter: drop-shadow(30px 30px 30px #0006);
}

.weather.clouds {
  opacity: .5;
  filter: blur(16px);
  width: 100%;
  height: 100%;
  background-image: url('./assets/environment/fair_clouds_4k.png');
  background-size: cover;
  &.wind {
    animation: clouds 600s linear;
  }
}

@keyframes clouds {
  to {
    background-position: 100% calc(2048px * 4);
  }
}

#ground {
  position: fixed;
  pointer-events: all;
}

#waifupoints {
  
  & b {
    --color: rgb(234, 175, 26);
    position: absolute;
    font-size: calc(var(--size, 64px) / 2);
    scale: 2;
    translate: -50% -50%;
    color: var(--color);
    display: block;
    width: var(--size, 64);
    height: var(--size, 64);
    line-height: var(--size, 64);
    text-align: center;
    border-radius: 50%;
    border: calc(var(--size, 64px) / 32) dashed currentColor;
    transition: all .5s .1s;
    
    &.hit {
      
      --color: #4CAF50;
      scale: 1.25;
      opacity: .05;
      background-color: transparent;
      color: var(--color);
    }
    &.pitbox {
      color: rgb(255, 30, 0);
    }
    &.pitlane {
      --color: white;
    }

    &:hover,
    &.colliding {
      scale: 3;
      opacity: .75;
      background-color: var(--color);
      color: black;
      transition-duration: .05s;
      transition-delay: 0s;
    }
  }
}

.emitter-object {
  position: absolute;  
  left: var(--left);
  top: var(--top);
  --step: 0;
  --row: 0;
  --spriteSize: 128px;
  --pos-y: calc(var(--row, 0) * var(--spriteSize, 128px ) * -1);
  --pos-x: calc(var(--step, 0) * var(--spriteSize, 128px ) * -1); 
  object-fit: none;
  object-position: var(--pos-x) var(--pos-y);
  
  transform-origin: left top;
  rotate: var(--rot, 0deg);
  transform: translate(-50%, -50%);
  scale: 2;
}

.helicopter {
  scale: .5;
  position: relative;
  filter: drop-shadow(15px 15px 9px #0006);
  width: 902px;
  height: 400px;
  
  & img {
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.helicopter-body { 
  translate: 0 -50%;
}

.helicopter-blades {
  filter: blur(2px);
  transform-origin: 234.5px 387.5px;
  --duration: .27s;
  translate: 0 -50%;
  transform: animation-duration 1.5s;
  animation: rotors var(--duration) linear forwards infinite;
}

@keyframes rotors {
  to {
    rotate: 359deg;
  }
}